# Dev sstuff
docs
.bealers
node_modules
.eliza
.taskmaster
# ---

# Build and runtime
dist/
.eliza/

# Tools and configs
.roo/
.taskmaster/
.roomodes
#.cursor/
.env.example

# Added by Task Master AI
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log
# Dependency directories
node_modules/
# Environment variables
.env
__tests__/generated-test-config.env
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# OS specific
.DS_Store

# Task files
# tasks.json
# tasks/ 